<section class="auth-page">
  <div class="auth-card">
    <div class="auth-card__header">
      <h1>Entrar</h1>
      <p>Acesse sua conta VidaLink.</p>
    </div>

    <form [formGroup]="loginForm" (ngSubmit)="submit()">

      <div class="form-field">
        <label hlmLabel for="email">
          Email
        </label>

        <input
          hlmInput
          id="email"
          type="email"
          formControlName="email"
          autocomplete="email"
          placeholder="seu@email.com"
        >

        @if (
          loginForm.controls.email.touched &&
          loginForm.controls.email.invalid
        ) {
          <span class="form-field__error">
            @if (loginForm.controls.email.hasError('required')) {
              O email é obrigatório.
            } @else if (loginForm.controls.email.hasError('email')) {
              Informe um email válido.
            }
          </span>
        }
      </div>

      <div class="form-field">
        <label hlmLabel for="password">
          Senha
        </label>

        <input
          hlmInput
          id="password"
          type="password"
          formControlName="password"
          autocomplete="current-password"
          placeholder="password"
        >

        @if (
          loginForm.controls.password.touched &&
          loginForm.controls.password.invalid
        ) {
          <span class="form-field__error">
            A senha é obrigatória.
          </span>
        }
      </div>

      @if (serverError()) {
        <p class="auth-card__error" role="alert">
          {{ serverError() }}
        </p>
      }

      <button
        hlmBtn
        type="submit"
        [disabled]="loading()"
      >
        @if (loading()) {
          Entrando...
        } @else {
          Entrar
        }
      </button>
    </form>

    <div class="auth-card__footer">
      <span>Ainda não possui uma conta?</span>

      <a routerLink="/register">
        Criar conta
      </a>
    </div>
  </div>
</section>